log/*.log
tmp/*
.DS_Store
public/cache/**/*
doc/api
doc/app
doc/spec/*
db/data.*
db/*.sqlite3
config/database.yml
coverage
public/stylesheets/*.css
*[~]
.bundle
.byebug_history

public/logos
public/signatures

# Ignore master key for decrypting credentials and more.
/config/master.key
