body
  font: normal 62.5% $default
  color: #474749

a
  color: $primaryColor
  text-decoration: none
  &:hover
    text-decoration: underline
p
  font-size: 1.4em

b, strong
  font-weight: bold

h1, h2, h3, h4
  font: bold 1.2em $default
  line-height: 1.0em
  margin: 0
  padding: 0
  text-transform: uppercase

h2
  font-size: 1.4em
h5
  text-transform: uppercase
  font-weight: bold
  font-size: 0.9em

blockquote
  :padding-left 1em
  p, ul, ol
    :line-height normal
    :font-style italic
